.review_card {
    padding: 40px;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    box-shadow: rgb(0 0 0 / 6%) -1px 3px 15px 0;
    max-width: 800px;
    margin: 0 auto;
}

.review_card_left {
    width: 250px;
}

.review_card_img img {
    border-radius: 50%;
    max-width: 150px;
    margin: 0 auto;
}

.dot_s {
    width: 85px!important;
    position: absolute;
    top: 0;
    z-index: -1;
}

.review_card_right {
    width: calc(100% - 250px);
}