.courses_pills {
    box-shadow: 0 4px 16px rgb(189 189 189 / 24%);
    padding: 20px 12px;
}

.pill_option {
    border-radius: 0.25rem;
    color: #3e4651;
    display: block;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.pill_option.active {
    color: #fff;
    background-color: #14bef1;
    box-shadow: 0 6px 10px rgb(51 54 68 / 5%), 0 10px 16px rgb(51 54 68 / 15%);
}

.tab_content {
    position: relative;
}

.tab_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.icon_card_wrap {
    margin: 0 20px 15px 0;
    position: relative;
    cursor: pointer;
}

.icon_card {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 10px;
    text-align: center;
    padding: 20px 0;
    width: 130px;
    position: relative;
}

.icon_card_head {
    font-size: 12px;
    color: #000;
    height: 41px;
    overflow: hidden;
    margin: 0 !important;
}

.icon_card_sm_text {
    font-size: 9px;
    background-color: #14bef1;
    color: #fff;
    padding: 4px 4px;
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 0 !important;
}