.com {
    right: -4px;
    bottom: 5px;
    background-color: #0074d7;
    color: #fff;
    width: 25px;
    font-size: 8px;
    height: 25px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-18deg);
    left: 102px;
    top: 41px;
}

.nav_link {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #2d2d32;
    letter-spacing: -.3px;
    padding: 1rem 0rem;
    margin: 0 1.2rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    border-bottom: 5px solid #FFFFFF;
}

.nav_link:hover {
    color: #0074d7;
}

.nav_link.active {
    border-bottom: 5px solid #0074d7;
    color: #0074d7;
}

.nav_dropdown {
    border-bottom: 5px solid #FFFFFF !important;
    margin-right: 15px !important;
}

.nav_dropdown a {
    font-size: 14px !important;
    color: #414146 !important;
}

.nav_dropdown_item {
    color: #414146;
    line-height: 35px;
    padding: 5px 15px;
    display: block;
    text-decoration: none;
}

.dropdown_item:hover {
    background-color: #F0F0F5;
}

.new {
    float: right;
    background: #ff7800;
    padding: 2px 5px;
    font-size: 10px;
    box-sizing: content-box;
    color: #fff;
    vertical-align: middle;
    display: inline;
    line-height: 12px;
    border-radius: 2px;
    margin-right: 10px;
    text-transform: uppercase;
}

.login_register_button {
    font-size: 13px;
    line-height: 13px;
    color: #787887;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
    padding: 8px 10px;
    margin-bottom: 5px;
    margin-right: 15px;
    cursor: pointer;
}

.login_register_button:hover {
    color: #14bef0;
    border: 1px solid #14bef0;
}

.profile_item {
    padding: 5px 10px;
}

.user_name {
    display: inline-block;
    margin: 0 0 0 10px;
    vertical-align: middle;
    text-transform: capitalize;
}

.u_name {
    font-weight: 700;
    text-decoration: none;
    color: #414146;
    display: block;
}

.number {
    /* padding: 10px 0 0; */
    color: #787887;
    font-size: 12px;
}

.switch_div {
    display: flex;
    padding: 5px 15px;
    cursor: pointer;
    flex-direction: column;
}

.switch_div:hover {
    background-color: #F0F0F5;
}

.switch_div:hover .switch_div_span {
    color: orange;
}

.switch_div_span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    color: #414146;
}

.switch_div_desc {
    margin-top: 10px;
    font-size: 12px;
    color: #787887;
}

.profile_image {
    object-fit: contain;
}

@media (max-width: 767.98px) {
    .nav_link {
        padding: 0.5rem 0rem;
        margin: 0px;
        font-weight: 300;
        font-size: 14px;
    }
}