.wrapper_main {
    margin: 35px 0;
    background: #FFFFFF;
    box-shadow: 0 3px 11px rgb(0 0 0 / 18%);
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #eee;
    padding: 30px 20px;
}

.pulse {
    animation: pulse-animation 1.2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
}

.online_dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #00d8a2;
    display: inline-block;
}

.consultation_property {
    display: flex;
    align-items: center;
}

.consultation_property_tag {
    font-size: 14px;
    color: #2d2d32;
    margin-top: 4px;
}

.showForMobile {
    flex-basis: 50%;
    border-right: 1px solid #e0e0e5;
}

.hideForMobile {
    flex-basis: 50%;
    display: flex;
}
.dealbtn {
    background-color: #ffc233;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 4px;
}

@media only screen and (max-width: 768px) {
    .showForMobile {
        flex-basis: 100%;
        border-right: none;
    }

    .hideForMobile {
        display: none;
    }
    .consultation_property {
        align-items: flex-start;
    }
}