.card_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
    background-color: white;
    height: 220px;
    margin-top: 1rem;
}

.image_wrapper {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.image_wrapper img {
    object-fit: cover;
}