.question_tag {
    font-size: 14px;
    font-weight: bold;
    color: #ff7800;
    margin-right: 5px;
}

.question {
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
}

.recommend_wrapper {
    display: flex;
    margin-top: 1rem;
}

.recommend_option_yes {
    width: 25%;
    background-color: white;
    border: 1px solid #b4b4be;
    color: #414146;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recommend_option_no {
    width: 25%;
    border: 1px solid #b4b4be;
    background-color: white;
    color: #414146;
    height: 30px;
    cursor: pointer;
    font-size: 14px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recommend_option_yes:hover {
    border: 1px solid #14bef0;
    color: #14bef0
}

.recommend_option_no:hover {
    border: 1px solid #14bef0;
    color: #14bef0
}

.recommend_option_yes.active {
    background-color: #14bef0;
    border: 1px solid #14bef0;
    color: white;
    font-weight: bold;
}

.recommend_option_no.active {
    background-color: #14bef0;
    border: 1px solid #14bef0;
    color: white;
    font-weight: bold;
}

.feedback_info {
    background-color: #fffbcc;
    border-radius: 2px;
    margin-top: 8px;
    padding: 16px;
    font-size: 12px;
}