.feedback_wrapper {
    width: calc(100% - 80px);
    max-width: 1200px;
    margin: 16px auto;
    background-color: white;
    box-shadow: 0 0 18px 0 rgb(0 0 0 / 4%);
    -webkit-box-shadow: 0 0 18px 0 rgb(0 0 0 / 4%);
}

.feedback_header {
    width: 100%;
    height: 64px;
    font-weight: bold;
    font-size: 16px;
    padding: 22px 24px;
    border-bottom: 1px solid #F0F0F5;
    box-sizing: border-box;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback_content {
    width: 100%;
    min-height: 780px;
    box-sizing: border-box;
}

.feedback_year_wrapper {
    padding: 14px 24px;
    background-color: #FAFAFA;
}

.feedback_year {
    color: #787887;
    font-size: 14px;
    font-weight: bold;
}

.feedback_content_wrapper {
    background-color: #fff;
    margin: 8px 0px;
    padding: 16px;
}

.date_holder {
    display: inline-block;
    width: 42px;
    vertical-align: top;
    padding: 2px 0;
    border-radius: 2px;
    vertical-align: middle;
    text-align: center;
    background-color: #f0f0f5;
}

.feedback_date {
    color: #414146;
    line-height: 30px;
    font-weight: bold;
    font-size: 24px;
}

.feedback_month_name {
    color: #787887;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}

.feedback_details {
    width: -webkit-fill-available;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.counsellor_name {
    color: #414146;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}

.feedback_status {
    color: #333;
}

.feedback_item {
    margin-top: 10px;
    margin-left: 61px;
    padding-left: 10px;
    border-left: 5px solid #f0f0f5;
}

.feedback_title {
    margin: 5px 0px;
    font-weight: bold;
    font-size: 14px;
}

.feedback_review {
    font-size: 14px;
    color: #787887;
    text-align: justify;
}

.feedback_reply {
    font-weight: bold;
}

.feedback_reply_text {
    font-size: 14px;
    color: #787887;
    text-align: justify;
    margin-left: 26px;
    font-weight: 400;
}