.cv_logo {
    position: absolute;
    left: 15px;
    top: 15px;
    box-shadow: 0px 7px 9px #0000004D;
    background: #FFF;
    padding: 10px 10px 0px;
    border-radius: 3px;
    z-index: 999;
}

.audioChatBody {
    height: calc(100vh - 65px);
}