.header_pill {
    padding: 0 20px;
    border-bottom: none;
    font-weight: bold;
    cursor: pointer;
}

.header_pill.active {
    border-bottom: 3px solid #14bef0;
}

.header_pill_title {
    font-size: 14px;
    font-weight: 400;
}

.header_pill_title.active {
    font-weight: 700;
    color: #14bef0;
}

.join_tag {
    color: #787887;
    font-size: 18px;
    font-weight: bold;
}

.are_you_a_counsellor {
    font-size: 14px;
    color: #787887;
}