.static_card {
    vertical-align: top;
    display: inline-block;
}

.card_offerings {
    border: 1px solid #f0f0f5;
    box-shadow: 0 4px 8px rgb(0 0 0 / 12%);
    border-radius: 24px;
    cursor: pointer;
    width: 200px;
    height: 290px;
    position: relative;
}

.card_link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.card_image_wrapper {
    padding-top: 12px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 0px;
    width: 200px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    height: 170px;
}

.card_info {
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
}

.card_title {
    color: #2d2d32;
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 18px;
}

.card_subtitle {
    color: #787887;
    font-size: 13px;
}