.user_profile {
    width: calc(100% - 80px);
    max-width: 1200px;
    margin: 16px auto;
    background-color: white;
    box-shadow: 0 0 18px 0 rgb(0 0 0 / 4%);
    -webkit-box-shadow: 0 0 18px 0 rgb(0 0 0 / 4%);
}

.user_profile_header {
    width: 100%;
    height: 64px;
    font-weight: bold;
    font-size: 16px;
    padding: 22px 24px;
    border-bottom: 1px solid #F0F0F5;
    box-sizing: border-box;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user_profile_content {
    width: 100%;
    min-height: 780px;
    padding: 0 34px;
    box-sizing: border-box;
}

.user_profile_content_section {
    display: block;
    border-bottom: 1px solid #F0F0F5;
    padding: 32px 0 32px 0;
}

.user_profile_content_section_header {
    line-height: 20px;
    color: #787887;
    margin-bottom: 10px;
}