.chat_list {
    max-height: 100%;
    height: calc(85vh - 184px);
    position: relative;
}

.chat_list_group {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

@media (max-width: 991.98px) {
    .chat_list_main {
        padding-right: 0 !important;
    }
    .chat_list_heading {
        font-size: 16px;
    }
}

@media (max-width: 575.98px) {
    .chat_list_main {
        padding-right: 20px !important;
    }
}