.convesation_box_main {
    display: flex;
    align-items: flex-start;
}

.convesation_box_main.chat_prompt {
    display: flex;
    align-items: center;
}

.convesation_box_main.sent {
    align-items: flex-end;
}

.convesation_box {
    background: #F3F6F7;
    padding: 15px;
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    color: #000;
}

.convesation_box.chat_prompt {
    background: #ffef99;
    border: 1px solid #ffef99;
}

.convesation_box.sent {
    background: #0074d7;
    border: 1px solid #0074d7;
    color: white;
}

.chat_msg_img {
    object-fit: cover;
}

@media (max-width: 991.98px) {
    .convesation_box {
        padding: 5px 10px;
    }
}