.chat_body {
    max-height: 100%;
    height: calc(85vh - 184px);
    padding: 25px;
    overflow-y: auto;
}

.chat_body::-webkit-scrollbar {
    width: 0.1rem;
}

.chat_body::-webkit-scrollbar-thumb {
    background-color: #ccc;
    outline: 1px solid #ccc;
    border-radius: 15px;
}