.userName {
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.userMsg {
    font-size: 12px;
    color: #787887;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat_list_item {
    cursor: pointer;
    padding: 1rem 1.5rem;
}

.chat_list_item:hover {
    background-color: #F0F0F5;
}

.chat_list_item.active_chat {
    background-color: #F0F0F5;
}

.unread_chat {
    position: relative;
}

.unread_chat::after {
    content: "!";
    position: absolute;
    right: 16px;
    bottom: 2px;
    color: white;
    line-height: 15px;
    border-radius: 50%;
    font-weight: bold;
    height: 15px;
    width: 15px;
    text-align: center;
    font-size: 12px;
    background-color: #0074d7;
}

.unread_chat_msg {
    font-weight: bold;
}

.msgTime {
    font-size: 12px;
}

.msgTime.msgTime_unread {
    color: #0074d7;
    font-weight: bold;
}

.Chat_list_user_pic {
    border-radius: 30px;
    overflow: hidden;
    height: 40px;
    width: 40px;
}

@media (max-width: 991.98px) {
    .chat_list_item {
        padding-left: 1rem;
        padding-right: .5rem;
    }
    .Chat_list_user_pic {
        height: 35px;
        width: 35px;
    }
    .chat_list_user_content {
        padding-left: .5rem !important;
    }
    .userName {
        font-size: 12px;
    }
    .userMsg {
        font-size: 11px;
    }
}

@media (max-width: 575.98px) {
    .chat_list_item {
        padding-left: 1.5rem;
        padding-right: 1rem;
    }
    .Chat_list_user_pic {
        height: 45px;
        width: 45px;
    }
    .chat_list_user_content {
        padding-left: 0rem !important;
    }
    .userMsg {
        font-size: 12px;
    }
    .userName {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .chat_list_item {
        padding-left: 1rem;
        padding-right: .5rem;
    }
    .chat_list_user_content {
        padding-left: 0.3rem !important;
    }
}