.chat_header_main {
    padding: 10px 25px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 90;
    background-color: #fff;
}

.header_icon {
    background: transparent;
    border: none;
    font-size: 24px;
    color: #999999;
    box-shadow: none !important;
}

.header_icon:hover {
    background-color: #ccc;
}

.header_icon:focus {
    background-color: #ccc;
    border: none;
}

@media (max-width: 575.98px) {
    .chat_header_main {
        padding: 10px;
    }
    .header_icon {
        padding: 0;
    }
    .header_icon_left {
        padding: 0;
        margin-top: -8px;
    }
    .header_icon_left:hover {
        background-color: transparent;
        color: #999;
    }
}