.userVoice {
    border-radius: 10px;
    text-align: center;
    background: #36373A;
    padding: 80px 25px;
    color: white;
}

.userVoiceImage {
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0px 0px 1px 1px #0000001a;
}

.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px #dddbdb33;
    }
    25% {
        box-shadow: 0 0 0 10px #dddbdb33;
    }
    50% {
        box-shadow: 0 0 0 15px #dddbdb33;
    }
    100% {
        box-shadow: 0 0 0 0px #dddbdb33;
    }
}

.userName {
    margin-top: 30px;
}