.top_counsellor_card {
    padding: 25px;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    box-shadow: rgb(0 0 0 / 6%) -1px 3px 15px 0;
    max-width: 400px;
    margin: 0 auto;
}

.top_counsellor_card_left {
    width: 150px;
    position: relative;
}

.top_counsellor_card_img {
    border-radius: 50%;
    max-width: 100px;
    margin: 0 auto;
    overflow: hidden;
}

.top_counsellor_card_right {
    width: calc(100% - 150px);
}

.verified {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.counsellor_name {
    font-size: 18px;
    font-weight: bold;
    color: #14bef1;
}

.counsellor_specialization {
    color: #787887;
    font-size: 14px;
}

.counsellor_experience {
    color: #787887;
    font-size: 12px;
}

.consultation_fees {
    margin-top: 10px;
}

.counsellor_reviews {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}