html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
    background-color: #FAFAFA !important;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.navbar-brand {
    margin-right: 2rem !important;
    font-size: 0px !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.close_modal_button {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 15px;
    height: 15px;
    z-index: 1;
    opacity: 0.3;
    text-shadow: rgb(0 0 0 / 70%) 1px 1px 0px;
    transition: opacity 250ms ease-in-out 0s;
    cursor: pointer;
}

.close_modal_button::before {
    position: absolute;
    left: 14px;
    content: " ";
    height: 15px;
    width: 2px;
    background-color: rgb(51, 51, 51);
    box-shadow: rgb(255 255 255) 0px 0px 1px;
    transform: rotate(45deg);
}

.close_modal_button::after {
    position: absolute;
    left: 14px;
    content: " ";
    height: 15px;
    width: 2px;
    background-color: rgb(51, 51, 51);
    box-shadow: rgb(255 255 255) 0px 0px 1px;
    transform: rotate(-45deg);
}

.mt-20 {
    margin-top: 20px;
}
.form-select {
    line-height: 2 !important;
}
.cv-input-field {
    height: 38px;
}

.form-control {
    font-size: 14px !important;
    color: #555 !important;
}

.form-label {
    color: #787887 !important;
    font-size: 14px !important;
}

.form-select {
    font-size: 14px !important;
    color: #787887 !important;
}

.form-check-input {
    font-size: 15px !important;
    margin-top: 6px !important;
    box-shadow: none !important;
}

.form-check-label {
    color: #7f7f7f !important;
    font-size: 12px !important;
}

.form-check-input:checked {
    background-color: #0074d7 !important;
    border-color: #0074d7 !important;
    box-shadow: none !important;
}

.cv-primary-btn {
    background-color: #0074d7 !important;
    border-color: #0074d7 !important;
    box-shadow: none !important;
}

.password-group.input-group-text {
    background-color: transparent !important;
}

.f-14 {
    font-size: 14px;
}

.invalid-feedback {
    font-size: 13px !important;
    display: block !important;
}

.last-dropdown .dropdown-menu {
    right: 0;
    width: 250px !important;
    left: auto !important;
}

.btn-md {
    font-size: 12px !important;
    height: 32px !important;
    font-weight: 700 !important;
}

.swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%2314bef1'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-button-prev::after {
    display: none;
}

.swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%2314bef1'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-button-next::after {
    display: none;
}

.filter_check .form-check-label {
    color: white !important;
    font-size: 14px !important;
}

.filter_check .form-check-input:checked {
    background-color: #0074d7 !important;
    border-color: #0074d7 !important;
    box-shadow: none !important;
}

.filter_check .form-check-input {
    font-size: 13px !important;
}

.paginationBtns {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.paginationBtns a {
    padding: 3px 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid var(--theme-yellow);
    color: #9ba9b3 !important;
    cursor: pointer;
    text-decoration: none;
}

.paginationBtns a:hover {
    color: #fff !important;
    font-weight: 700 !important;
    background-color: #0074d7;
}

.paginationActive a {
    color: #fff !important;
    font-weight: 700 !important;
    background-color: #0074d7;
}

.paginationDisabled a:hover {
    cursor: not-allowed;
    color: #9ba9b3 !important;
    background-color: #fff !important;
}

.paginationBtns .li {
    width: 100px;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.VideoRoom_side_user_video__FLwNf .UserVideo_videogrid__RxIO9 {
    height: fit-content;
}

.busy-call-modal {
    margin: 15px 15px 0 auto !important;
}

.modal-full-width {
    width: 100vw !important;
}

.swiper.cardSwiper {
    width: 170px;
}

.help-header .nav-link {
    padding: 0px !important;
}
.myshine {
    position: relative;
    overflow: hidden;
  }
  .myshine:after {
      content:'';
    top:0;
      transform:translateX(100%);
      width:100%;
      height:220px;
      position: absolute;
      z-index:1;
      animation: slide 1s infinite;
       
   
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); 
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
      background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
  }
.bg-primary {
    background-color: #0074d7 !important;
}
 .modal-content {
    border: none !important;
}

  @keyframes slide {
      0% {transform:translateX(-100%);}
      100% {transform:translateX(100%);}
  }
@media (max-width: 991.98px) {
    .new-chat {
        padding-right: 5px !important;
    }
}

@media (max-width: 767.98px) {
    .consultation_main {
        max-width: 100% !important;
    }
}

@media (max-width: 575.98px) {
    .consultations_chat_box {
        position: absolute;
        top: 0;
        right: -100%;
        width: 100%;
        transition: all .5s ease-in-out;
        transform: translate(10px);
    }
    .consultations_active {
        left: 0 !important;
        right: 0 !important;
        transform: translate(0px);
    }
}