.counsellor_profile {
    width: calc(100% - 80px);
    max-width: 1200px;
    margin: 16px auto;
}

.counsellor_top_div {
    /* background-color: white; */
    padding: 20px;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
}

.c_profile_title {
    margin: 5px auto;
    color: #414146;
    font-size: 20px;
    font-weight: 700;
}

.c_profile_designation {
    font-size: 14px;
    color: #414146;
    margin-bottom: 4px;
}

.c_profile_experience {
    font-size: 12px;
    margin-bottom: 8px;
    background-color: #0074d7;
    display: inline-block;
    color: #fff;
    border-radius: 16px;
    padding: 2px 7px;
}

.consultation_div {
    border-radius: 12px;
    background-color: white;
    padding: 20px;
}

.pills {
    border: none !important;
    margin: 0!important;
    padding: 0;
    list-style: none;
}

.tab {
    display: inline-block;
    list-style: none;
    padding: 15px 18px;
    /* font-weight: 700; */
    font-size: 16px;
    color: #787887;
    cursor: pointer;
}

.tab.active {
    color: #0074d7;
    border-radius: 0;
    border: none;
    background: #fff;
}

.pill_panel {
    padding: 20px;
    background-color: #fff;
}

.counsellor_locality {
    color: #414146;
    line-height: 1.3;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.timeslot {
    font-size: 14px;
    color: #414146;
}

.review_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
}

.reviewer_profile {
    display: flex;
    align-items: center;
}

.reviewer_image {
    color: #787887;
    width: 30px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    border-radius: 50%;
    display: table-cell;
    line-height: 30px;
}

.reviewer_name {
    color: #787887;
    font-size: 14px;
    font-weight: bold;
    margin-left: 16px;
}

.review_time {
    font-size: 14px;
    color: #787887;
}

.review_body {
    margin-left: 46px;
}

.rating_container {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    background-color: #f0f0f5;
    padding: 3px 0 3px 3px;
    margin-right: 3px;
    border-radius: 3px;
}

.review {
    font-size: 14px;
    color: #787887;
    text-align: justify;
}

.reply {
    font-weight: bold;
}

.reply_text {
    font-size: 14px;
    color: #787887;
    text-align: justify;
    margin-left: 26px;
    font-weight: 400;
    margin-top: 6px;
}

.appointment_wrapper {
    font-size: 12px;
    height: 54px;
    padding: 10px 0 50px;
    text-align: center;
    cursor: pointer;
    border-bottom: 4px solid #f0f0f5;
}

.appointment_wrapper.active {
    border-bottom: 4px solid #0074d7;
}

.app_slots_wrapper{
    height: 215px;
    overflow-y: auto;
}

.appointment_slots {
    font-size: 9px;
    padding-top: 3px;
}

.appointment_slots.active {
    color: #01a400
}

.time_slot {
    height: 35px;
    border: 1px solid #0074d7;
    border-radius: 4px;
    cursor: pointer;
    color: #0074d7;
}

.time_slot:hover {
    background-color: #0074d7;
    color: #fff;
}

.review_filter_section {
    margin-top: 1rem;
}

.review_filter_header {
    display: flex;
    align-items: center;
    position: relative;
}

.review_filter_header_title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 10px;
}

.review_filter_subtitle {
    margin-top: 5px;
    font-size: 14px;
    margin-left: 4px;
    color: #565959;
}

.review_filter_stats_container {
    margin-top: 16px;
    margin-left: 5px;
}

.review_filter_stats_container_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

.review_filter_stats_container_item_props {
    color: #0074d7;
    font-size: 14px;
    width: 10%;
}

.review_filter_stats_container_item_bar {
    width: 79%;
    height: 30px;
    border: 1px solid #0074d7;
}

.review_filter_reset {
    position: absolute;
    right: 25px;
    top: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #14bef1;
    cursor: pointer;
}

.review_filter_stats_container_item:hover {
    text-decoration: underline;
    text-decoration-color: #0074d7;
}

.review_filter_stats_container_item_bar.progress {
    background-color: #0074d7;
}
.specializations_list {
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 4px;
    margin: 0 8px 8px 0;
}

@media screen and (max-width:520px) {
    .counsellor_profile {
        width: calc(100% - 0px)
    }
}