.wrapper {
    width: calc(100% - 80px);
    max-width: 1200px;
    background-color: white;
    box-shadow: 0 0 18px 0 rgb(0 0 0 / 4%);
    -webkit-box-shadow: 0 0 18px 0 rgb(0 0 0 / 4%);
    margin: 0 auto;
}

.filter_label {
    color: white !important;
}

.filter_select {
    background-color: #fff;
    border: 1px solid #fff;
    color: #000 !important;
    box-shadow: none !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}

.counsellor_left {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counsellor_card_img {
    /* border-radius: 50%;
    max-width: 125px;
    margin: 0 auto;
    overflow: hidden; */
    position: relative;
}

.verified {
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.counsellor_name {
    font-size: 18px;
    font-weight: bold;
    color: #0074d7;
}

.counsellor_specialization {
    color: #787887;
    font-size: 14px;
}

.counsellor_experience {
    color: #787887;
    font-size: 12px;
}

.consultation_fees {
    margin-top: 10px;
}

.counsellor_reviews {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.video_call_btn {
    color: #0074d7;
    background-color: #fff;
    border: 1px solid #0074d7;
    width: 212px;
    margin-bottom: 10px;
    box-shadow: none !important;
}

.video_call_btn:hover {
    background-color: #0074d7;
}

.video_call_btn:focus {
    background-color: s#0074d7;
}

.more_affiliation {
    font-size: 13px;
    cursor: pointer;
}

.more_affiliation:hover {
    text-decoration: underline;
}
.counsellor_card {
    align-items: center;
    box-shadow: 0 2px 4px 2px rgb(0 0 0 / 7%);
    border-radius: 10px;
}
.col {
  margin-bottom: 20px;
}

@media screen and (max-width:520px) {
    .wrapper {
        margin-top: 10px;
        width: calc(100% - 0px);

    }
    .counsellor_card {
        text-align: center;
    }
    .col {
        flex: 100%;
    }
    .counsellor_reviews {
     justify-content: center;
     margin-bottom: 20px;
    }
}